header {
    background:linear-gradient(90deg, rgb(55, 233, 24) 0% , rgb(23, 26, 197) 40% , rgb(0, 255, 234) 100%);
    padding: 15px 30px;
}

header h1{
    display: inline;
    background: linear-gradient(25deg, rgb(8, 0, 255), rgb(183, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-family: "Londrina Outline", sans-serif;
     font-size: 35px;
}

header h1 span{
    margin-left: 150px;
     font-family: "Londrina Outline", sans-serif;
}
header div{
    display: flex;
    justify-content: space-between;
}
header a{
    font-size: 24px;
    list-style: none;
    color: white;
    transition: all 0.3 ease;
}
header a:hover{
    color: blue;
    scale: 1.2;
    transform: translateY(-0.5px);
}
header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav button{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 15%;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
     font-size: 15px;
    transition: all 0.3 ease;
    
}

header nav button:hover{
    background-color: rgb(207, 86, 228,0.6);
    scale: 1.1;
    transform: translateY(-5px);
    color:rgb(235, 37, 156);
    border-color: rgb(235, 37, 156)
}

section {
  display: none;
}

section.ativo {
  display: block;
}