.container {
  height: 92vh;
}

section {
  display: none;
}

section.ativo {
  display: block;
}

footer nav {
  background-color: rgb(64, 64, 64);
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
 border-top: 5px rgba(255, 255, 255, 0.641) dashed;
  transition: all 0.3s ease;
}
footer nav:hover{
    border-color:#0f68ee;
    background: linear-gradient(90deg, #6459e3 0%, #fb7ebfa6 100%);
}
footer button {
  background: rgb(0, 0, 0);
  color: white;
  border: solid 2px ;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
 
footer button:hover{
  background-color: white;
  color:black;
  border: black dashed 3px;
  transform: translateY(-3px);
  scale: 1.1;
}

